code.txt
.vscode/settings.json

code.txt
uv.lock
.antlr/EpicLang.tokens
.antlr/EpicLang.interp
.antlr/EpicLangBaseListener.java
.antlr/EpicLangLexer.java
.antlr/EpicLangLexer.interp
.antlr/EpicLangLexer.tokens
.antlr/EpicLangListener.java
.antlr/EpicLangParser.java
.idea/.name
.idea/git_toolbox_blame.xml
.idea/Interpretator.iml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.stfolder/syncthing-folder-fc1991.txt
__pycache__/EpicLangLexer.cpython-312.pyc
__pycache__/EpicLangParser.cpython-312.pyc
__pycache__/EpicLangVisitor.cpython-312.pyc
.idea/*
